# Pandas
- Solve short hands-on challenges to perfect your data manipulation skills.
- https://www.kaggle.com/code/jorgemonti/exercise-indexing-selecting-assigning/edit

## Exercise: Indexing, Selecting & Assigning

In [2]:
import pandas as pd
revs = pd.read_csv('Red.csv')
print('Default display.max_rows:', pd.get_option('display.max_rows'))
# Default display.max_rows: 60

Default display.max_rows: 60

In [3]:
pd.set_option('display.max_rows', 7)
print('Actual display.max_rows:', pd.get_option('display.max_rows'))

Actual display.max_rows: 7

In [4]:
revs

,Name,Country,Region,Winery,Rating,NumberOfRatings,Price,Year
0,Pomerol 2011,France,Pomerol,Château La Providence,4.2,100,95.00,2011
1,Lirac 2017,France,Lirac,Château Mont-Redon,4.3,100,15.50,2017
2,Erta e China Rosso di Toscana 2015,Italy,Toscana,Renzo Masi,3.9,100,7.45,2015
...,...,...,...,...,...,...,...,...
8663,Haut-Médoc 2010,France,Haut-Médoc,Château Cambon La Pelouse,3.7,996,23.95,2010
8664,Shiraz 2019,Australia,South Eastern Australia,Yellow Tail,3.5,998,6.21,2019
8665,Portillo Cabernet Sauvignon 2016,Argentina,Tunuyán,Salentein,3.4,999,7.88,2016

In [6]:
# 1.- 
winy = revs['Winery']   # revs.Winery
print(type(winy))
winy

<class 'pandas.core.series.Series'>

0           Château La Providence
1              Château Mont-Redon
2                      Renzo Masi
                  ...
8663    Château Cambon La Pelouse
8664                  Yellow Tail
8665                    Salentein
Name: Winery, Length: 8666, dtype: object

In [11]:
# 2.-
first_winy = winy[0]
print(first_winy)
f_winy = revs.Winery[0]
print(f_winy)
print(revs.Winery.iloc[0], '  -  ', revs.Winery.loc[0] )

Château La Providence
Château La Providence
Château La Providence   -   Château La Providence

In [13]:
# 3.- Select the first row of data (the first record) from revs
first_row = revs.iloc[0]
display(revs.head(1))
first_row

,Name,Country,Region,Winery,Rating,NumberOfRatings,Price,Year
0,Pomerol 2011,France,Pomerol,Château La Providence,4.2,100,95.0,2011

Name               Pomerol 2011
Country                  France
Region                  Pomerol
                       ...
NumberOfRatings             100
Price                      95.0
Year                       2011
Name: 0, Length: 8, dtype: object

In [16]:
v = revs.head(1)
v                   # type(v) -> df only one row.

,Name,Country,Region,Winery,Rating,NumberOfRatings,Price,Year
0,Pomerol 2011,France,Pomerol,Château La Providence,4.2,100,95.0,2011

In [17]:
print(revs.loc[0])

Name               Pomerol 2011
Country                  France
Region                  Pomerol
                       ...
NumberOfRatings             100
Price                      95.0
Year                       2011
Name: 0, Length: 8, dtype: object

In [19]:
# 4.- Select the first 10 values from the Winery column in revs
revs.Winery.iloc[:10]

0       Château La Providence
1          Château Mont-Redon
2                  Renzo Masi
               ...
7               Viña La Causa
8           Castello Montaùto
9    Domaine des Aires Hautes
Name: Winery, Length: 10, dtype: object

In [20]:
revs.loc[:9, 'Winery']  # LOOK! INCLUSIVE upper limit

0        Château La Providence
1           Château Mont-Redon
2                   Renzo Masi
                ...
8            Castello Montaùto
9     Domaine des Aires Hautes
10                 Poggiotondo
Name: Winery, Length: 11, dtype: object

In [21]:
revs.Winery[:10]

0       Château La Providence
1          Château Mont-Redon
2                  Renzo Masi
               ...
7               Viña La Causa
8           Castello Montaùto
9    Domaine des Aires Hautes
Name: Winery, Length: 10, dtype: object

In [23]:
winy.head(10)   # Also a Series

0       Château La Providence
1          Château Mont-Redon
2                  Renzo Masi
               ...
7               Viña La Causa
8           Castello Montaùto
9    Domaine des Aires Hautes
Name: Winery, Length: 10, dtype: object

In [24]:
# 5.- Select the records with index labels 1, 2, 3, 5, and 8
revs.iloc[[1, 2, 3, 5, 8]]

,Name,Country,Region,Winery,Rating,NumberOfRatings,Price,Year
1,Lirac 2017,France,Lirac,Château Mont-Redon,4.3,100,15.50,2017
2,Erta e China Rosso di Toscana 2015,Italy,Toscana,Renzo Masi,3.9,100,7.45,2015
3,Bardolino 2019,Italy,Bardolino,Cavalchina,3.5,100,8.72,2019
5,Gigondas (Nobles Terrasses) 2017,France,Gigondas,Vieux Clocher,3.7,100,19.90,2017
8,Chianti 2015,Italy,Chianti,Castello Montaùto,3.6,100,10.75,2015

In [25]:
revs.loc[[1, 2, 3, 5, 8]]   # Is a df

,Name,Country,Region,Winery,Rating,NumberOfRatings,Price,Year
1,Lirac 2017,France,Lirac,Château Mont-Redon,4.3,100,15.50,2017
2,Erta e China Rosso di Toscana 2015,Italy,Toscana,Renzo Masi,3.9,100,7.45,2015
3,Bardolino 2019,Italy,Bardolino,Cavalchina,3.5,100,8.72,2019
5,Gigondas (Nobles Terrasses) 2017,France,Gigondas,Vieux Clocher,3.7,100,19.90,2017
8,Chianti 2015,Italy,Chianti,Castello Montaùto,3.6,100,10.75,2015

In [26]:
# 6.- some cols and some rows
df1 = revs.loc[[0, 1, 10, 100], ['Country', 'Region', 'Rating']]
df1

      Country      Region  Rating
0      France     Pomerol     4.2
1      France       Lirac     4.3
10      Italy     Chianti     3.9
100  Portugal  Alentejano     3.7

In [27]:
# 7.- two cols first 100 records (rows)
revs.loc[:99, ['Country', 'Rating']]

          Country  Rating
0          France     4.2
1          France     4.3
2           Italy     3.9
..            ...     ...
97  United States     3.7
98          Italy     3.7
99          Italy     3.9

[100 rows x 2 columns]

In [29]:
revs.iloc[:100, [1, 4]]

          Country  Rating
0          France     4.2
1          France     4.3
2           Italy     3.9
..            ...     ...
97  United States     3.7
98          Italy     3.7
99          Italy     3.9

[100 rows x 2 columns]

In [30]:
# 8.- Create a df italian_wines containing reviews of wines made in Italy
dfit = revs.loc[revs.Country == 'Italy']
dfit

,Name,Country,Region,Winery,Rating,NumberOfRatings,Price,Year
2,Erta e China Rosso di Toscana 2015,Italy,Toscana,Renzo Masi,3.9,100,7.45,2015
3,Bardolino 2019,Italy,Bardolino,Cavalchina,3.5,100,8.72,2019
8,Chianti 2015,Italy,Chianti,Castello Montaùto,3.6,100,10.75,2015
...,...,...,...,...,...,...,...,...
8654,Scipio 2013,Italy,Toscana,Tenuta dei Sette Cieli,4.3,99,63.39,2013
8658,Bricco dell'Uccellone Barbera d'Asti 2016,Italy,Barbera d'Asti,Braida,4.3,990,52.00,2016
8662,Botrosecco Maremma Toscana 2016,Italy,Maremma Toscana,Le Mortelle,4.0,995,20.09,2016

In [32]:
# 9.- tow cols wines at least 3.8 Rating
revs.loc[((revs.Country == 'Italy') | (revs.Country == 'France')) &
          (revs.Rating >= 3.8)]

,Name,Country,Region,Winery,Rating,NumberOfRatings,Price,Year
0,Pomerol 2011,France,Pomerol,Château La Providence,4.2,100,95.00,2011
1,Lirac 2017,France,Lirac,Château Mont-Redon,4.3,100,15.50,2017
2,Erta e China Rosso di Toscana 2015,Italy,Toscana,Renzo Masi,3.9,100,7.45,2015
...,...,...,...,...,...,...,...,...
8654,Scipio 2013,Italy,Toscana,Tenuta dei Sette Cieli,4.3,99,63.39,2013
8658,Bricco dell'Uccellone Barbera d'Asti 2016,Italy,Barbera d'Asti,Braida,4.3,990,52.00,2016
8662,Botrosecco Maremma Toscana 2016,Italy,Maremma Toscana,Le Mortelle,4.0,995,20.09,2016